@import url(https://font.googleapis.com/css?family=Lato:400,700,900italic);

html,body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.top-home-main {
  position: relative;
    background: url("http://wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height:400px;
    /*font-family: 'Lato', sans-serif;*/
    /*display: block;*/
    /*display: flex;*/
    /*justify-content: center;*/
}
.nav-wrapper {
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.logo-container {
  height:50px;
  width: 150px;
}
.logo-container img {
  width: 100%;
}
.hamburger-menu {
  width: 60px;
  height: 70px;
  display:flex;
  align-items: center;
}
.hamburger-menu img {
  width:100%;
}
.nav-list-container {
  width: 650px;
  height: 80%;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-right: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}
.nav-list {
  /*display: inline-block;*/
}
.nav-list li {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0 8px;
  font-size: 16px;
}
.nav-list li:hover {
  color: #bdd537;
  cursor: pointer;
}
.jumbotron {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.jumbotron-p1 {
  font-size: 22px;
  letter-spacing: 1.5px;
  margin-bottom: 1vh;
}
.jumbotron h1 {
  font-size: 20vw;
  letter-spacing:1.5px;
}
.jumbotron-p2 {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight:300;
  margin-top: 1vh;
  width: 65%;
}
.white-underline {
  height: 10px;
  width: 10vw;
  background: white;
  margin-top: 1.5vh;
}
.text-and-border {
  display: flex;
  justify-content:center;
  flex-direction: row;
}
.learn-more-button-container {
  width: 100%;
  height: 50px;
  position: absolute;
  /*display: block;*/
  bottom: 9vh;
  display: flex;
  justify-content: center;
}
.learn-more-button {
  width: 82vw;
  height: 50px;
  border: solid 2px #bdd537;
  border-radius: 25px;
  background: none;
  color: #bdd537;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.learn-more-button:hover {
  background: #bdd537;
  color: white;
}


.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 550px;
  width: 100%;
  background: #e6e6e6;
  text-align: center;
}
.main-info-p {
  margin: 4vh 2vw 0 2vw;
  font-size: 24px;
  color:#40666d;
  line-height: 140%;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
.how-it-works-img-container {
  margin-bottom:20px;
}
.main-info h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color:#40666d;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.learn-more-images {
  height: 1400px;
  width:100%;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  justify-content:space-around;
  /*align-items: space-around;*/
  text-align: center;
}
.learn-more-box {
  width: 100%;
  height: 500px;
  color: #AEBBC1;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.learn-more-img-container {
  height:150px;
  width:100%;
  margin-bottom: 15px;
}
/*.learn-more-img-container img {
  width: 100%;
}*/
.learn-more-box p {
  margin: 0 3vw;
}
.learn-more-box a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color:#bdd537;
  font-size: 14px;
}
.arrow-image-container {
  width: 100%;
  height: 50px;
}
/*.arrow-image-container img {
  width: 100%;
}*/
.how-can-we-help-section {
  height: 900px;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.how-can-we-help-section h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  /*font-weight: bold;*/
  color:#40666d;
  margin: 0 5vw;
  /*margin-bottom: 20px;*/
  text-transform: uppercase;
}
.how-can-we-help-section p {
  font-family: 'Open Sans', sans-serif;
  color:#40666d;
  margin: -10px 5vw 0 5vw;
  font-size: 20px;
}
.how-can-we-help-section h5 {
  color: #858585;
  font-size: 14px;
  margin-top: 8px;
}
.how-we-help-boxes-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.how-we-help-box {
  width: 90%;
  min-height: 100px;
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us-button-container {
  width: 100%;
  height: 50px;
  position: absolute;
  /*display: block;*/
  bottom: 9vh;
  display: flex;
  justify-content: center;
}
.contact-us-button {
  width: 82vw;
  height: 50px;
  border: solid 2px #bdd537;
  border-radius: 25px;
  background: none;
  color: #bdd537;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.contact-us-button:hover {
  background: #bdd537;
  color: white;
}

.we-work-with-section {
  text-align:center;
  height: 1500px;
  width:100%;
  background: #bdd537;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: space-around;
}
.we-work-with-section h2 {
  color: white;
  font-size: 40px;
  /*margin-top: 20px;*/
}

.lets-talk-section {
  background: #6a787c;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lets-talk-content{
  text-align: center;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lets-talk-content h2 {
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
}
.lets-talk-content p {
  color: white;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  letter-spacing: .5px;
  line-height: 150%;
}
.green-border {
  height: 10px;
  width: 110px;
  margin: 0 auto;
  background: #bdd537;
}
.email-us-button {
  background: #bdd537;
  color: grey;
  border: solid 1px #bdd537;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  font-size: 16px;
}

@media (min-width: 800px){
  .jumbotron-p1 {
    margin-right: 80vw;
  }
  .jumbotron h1 {
    font-size: 155px;
  }
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 1000px){
  .main-info {
    height: 350px;
  }
  .learn-more-images {
    flex-direction: row;
    height: 580px;
    align-items: center;
    /*border-right: 3px grey solid;*/
  }
  .learn-more-box{
    border-right: 1px #e6e6e6 solid;
  }
}
@media (max-width: 800px){
  .nav-list-container{
    display: none;
  }
}
@media (min-width: 680px){
  .top-home-main {
    height: 450px;
  }
}
@media (min-width: 480px){
  .learn-more-button{
    width: 200px;
  }
}
